.parts span{

    transform: translateX(19%);
}
.offers h1 {
    text-align: left;
  }
  .center input {
    background-color: #f5f5f5;
    width: 100%;
  border-width: 0px 0px 0px 1px ;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 0
  }
.slider .owl-carousel#sync2 .owl-next {
    font-size: 18px;
    position: absolute;
    top: -16%;
    left: 97%;
    transform: translateX(-50%);
}
.slider .owl-carousel#sync2 .owl-prev {
    font-size: 18px;
    position: absolute;
    top: -16%;
      left: 93%;
    transform: translateX(-50%);
  }
  .search button {
      background-color: #f5f5f5;
      position: absolute;
        font-size: 15px;
        color: #bbb;
        position: absolute;
        top: 73%;
       left: 80%;

    }
    .top-footer i
    {
      left: 85%;
    }

.bottom-footer img
{
    float: right;
    padding-top: 15px;
}
.copyright{
    font-size: 14px;
}
