@media screen and (max-width: 767px) {

  .slider .owl-carousel#sync2 .owl-next {
      font-size: 18px;
      position: absolute;
      top: -16%;
      left: 93%;
      transform: translateX(-50%);
  }
  .slider .owl-carousel#sync2 .owl-prev {
      font-size: 18px;
      position: absolute;
      top: -16%;
        left: 83%;
      transform: translateX(-50%);
    }
    .navbar-toggle {
        float: left;
        height: 54px;
        padding-top: 18px;
        padding-right: 46px;
        padding: 7px 11px;
        margin: 0;
        background: none !important;
        margin-bottom: -19px;
    }
    .center-header{
        display: inherit;
        text-align: center;
    }
   
}
@media screen and (min-width:768px) {
  .slider .owl-carousel#sync2 .owl-next {
      font-size: 18px;
      position: absolute;
      top: -16%;
      left: 98%;
      transform: translateX(-50%);
  }
}
