@font-face
{
	font-family:neo;
	src:url(../fonts/NeoSansArabic.ttf);
}
body
{
	font-family: neo;
}
p,.list-inline,.list-unstyled{
    margin: 0;
}
.btn:focus, .btn:active:focus, .btn.active:focus,
 .btn.focus, .btn:active.focus,
.btn.active.focus{
	outline: none;
	box-shadow: none;
}
.top-header .me{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.top-header
{
	background-color: #f7f7f7;
	padding: 10px 0;
	overflow: hidden;
}
.call
{
padding-top: 5px;
display: flex;
flex-wrap: wrap;
}
.social
{
text-align: left;
padding-left: 10px;
}
 .insta i{
	 width: 25px;
     height: 25px;
     border-radius: 50%;
     background-color: black;
     color: white;
     padding: 5px;
     font-size: 15px;
 }
 .twitter i{
	width: 25px;
		 height: 25px;
		 border-radius: 50%;
		 background-color: #3fcdfd;
		 color: white;
		 padding: 5px;
		 font-size: 15px;
 }
 .face i{
	 width: 25px;
	 height: 25px;
	 border-radius: 50%;
	 background-color: #3c5b9a;
	 color: white;
	 padding: 5px 7px;
	 font-size: 15px;
 }
.top-header span
{
	font-size: 15px;
	padding: 10px;

}
.top
{
	display: flex;
	justify-content: flex-end
}
.languge
{
	padding-top: 5px;
}

.top-header .fa-phone
{
	  background-color: #0eaf42;
	  color: white;
    border-radius: 24%;
    padding: 3px;
}
.center-header
{
padding: 20px 0;
padding-top: 70px;
display: flex;
flex-wrap: wrap;
}


/*.center
{
background-color: #f5f5f5;
border-radius: 42px;
padding: 12px;
margin-top: 42px;
display: inline-flex;
width: 100%;
color: #9e9e9e;
height: 60px;

}*/

i.fa.fa-user-circle {
    font-size: 20px;
    color: #2a4385;
	}
.cen input
{
	position: relative;
	height: 57px;
	background-color: #f5f5f5;
	width: 100%;
	outline: none !important;
	box-shadow: none !important;
	border-radius: 30px;
	border: none;
}
.search button
{
	background-color: #f5f5f5;
position: absolute;
top:80%;
left: 25px;
}
.search i
{
	color: #999;
}
.drop select
{
	background-color: #f5f5f5;
    margin-right: 30px;
    font-size: 13px;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 30px;
    border: none;
    padding: 10px;
    width: 100%;
    height: 57px;
    color: #999;
    margin: 30px 0px 10px;

}
.drop option
{
	outline: none !important;
	box-shadow: none !important;
	border-radius: 0;
	border: none;

}
.form-control:focus {
    border-color: #9e9eb3;
	}
.center
{
background-color: #f5f5f5;
border-radius: 42px;
padding: 12px;
margin-top: 42px;
display: inline-flex;
width: 100%;
color: #9e9e9e;
height: 60px;

}
.center input
{
background-color: #f5f5f5;
width: 100%;
border-width: 0px 1px 0px 0px ;
outline: none !important;
box-shadow: none !important;
border-radius: 0;
}
.center .search
{
	background-color:#f5f5f5;
	width: 120px;
}
.dropdown select
{
	background-color: #f5f5f5;
	margin-right: 30px;
	font-size: 15px;
	outline: none !important;
	box-shadow: none !important;
	border-radius: 0;
	border: none;
	padding: 5px;
	width: 124px;

}
.dropdown option
{
	outline: none !important;
	box-shadow: none !important;
	border-radius: 0;
	border: none;

}


.product
{
	display: flex;
    justify-content: space-between;
}
.log a
{
	text-decoration: none;
	color: #2a4385;
	font-size: 18px;
	font-weight: bolder;
	padding: 10px;
}
.log .fa-user
{
	font-size: 24px;
	background-color: blue;
	background-color: #2a4385;
	border-radius: 50%;
	color: white;
	padding: 2px;
}

.log
{
padding: 20px 5px;
margin-top: 40px;
}

.shop
{
	display: inline;
	color: #2a4385;
	margin-top: 63px;
}
.shop i
{
	font-size: 24px;
}
.shop span
{
	font-weight: bold;
	font-size: 18px;
}
.navbar-default
{
	    background-color: #2a4385;
			border: none;
}
.navbar-default .navbar-nav > li > a
{
    color: #eae3e3;
		font-size: 17px;
		    padding: 22px 15px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover
{
    color: #91b6cf;
		background: none
}
.navbar-nav .navbar-right
{
	margin-right: -30px;
}
.navbar-toggle
{
	float: right;
}
.navbar-default .navbar-toggle
{
	color: white;
	border: none;
}
.navbar-default .navbar-toggle .icon
{
	position: relative;
	bottom: -15px;
	right: 30px;
	font-size: 16px
}
.navbar-default .navbar-toggle .icon-bar
{
	background-color: white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
{
	background-color: #2a4385;
}

.slider
{
	margin: -15px;
	margin-top: -20px;
	margin-bottom: 34px;
}

.owl-prev , .owl-next
{
position: absolute;
top:0px;
color: #d1d0ce;

}

.owl-carousel {
	direction: ltr;
}
.slider .owl-carousel#sync1 img

{
display: block;
width:100%;
}
.slider .owl-carousel#sync1 .owl-prev
{
	font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateX(-50%);
}
.slider .owl-carousel#sync1 .owl-next
{
	font-size: 25px;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateX(-50%);


	}
	.slider .owl-carousel#sync1 .owl-next i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%
}
.slider .owl-carousel#sync1 .owl-prev i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%
}
	.slider .owl-carousel#sync1 .owl-next i ,.slider .owl-carousel#sync1 .owl-prev i{
		background-color:#4a4844;
	}
.slider .owl-carousel#sync1 .owl-next i:hover
{
	background-color: #99bfd4;

}
.slider .owl-carousel#sync1 .owl-prev i:hover
{
	background-color: #99bfd4;

}


.parts img
{
    position: relative;
		margin-bottom: 20px;
		width: 100%;


}
.parts span
{
	position: absolute;
  top:70%;
  color: white;
  font-size: 18px;
  transform: translateX(-50%);
}
.parts span:hover
{
	color: #99bfd4;
}
.offers
{
	margin-bottom: 45px;
	margin-top: 77px;
}
.offers img
{
width: 100%;
height: 160px;
padding: 20px 50px;
}
hr
{
	    margin-top: 19px;
}
.offers h1
{
text-align: right;
font-size: 16px;
font-weight: bolder;
padding-bottom: 1px;
color: #3a5393;
}
.add
{

	text-align: center;
	padding: 20px;
	font-size: 15px;
}

.offers p {

	background-color: #3a5393;
	color: white;
	float: right;
	font-size: 14px;
	font-weight: bold;
	padding: 8px;

}
.offers span
{
	color:  #3a5393;

}
.offers del
{
color: #b0cddd;
padding: 10px;
}
.price
{
	padding: 20px;
	font-weight: bold;
}
.offers .price span
{
color: #3a5393;
}
.slider a{
	text-decoration: none;
}
.slider .owl-carousel#sync2 .owl-prev
{
	 font-size: 18px;
    position: absolute;
    top:-16%;
    left: 45px;
    transform: translateX(-50%);
}
.slider .owl-carousel#sync2 .owl-next
{
	font-size: 18px;
    position: absolute;
    top: -16%;
    left: 86px;
    transform: translateX(-50%);


	}
	.slider .owl-carousel#sync2 .owl-next i{
		width: 33px;
		height: 33px;
		line-height: 33px;
    text-align: center;
		border: 1px solid;
    border-radius: 50%
}
.slider .owl-carousel#sync2 .owl-prev i:hover
{
	background-color: #99bfd4;

}
.slider .owl-carousel#sync2 .owl-prev i{
    width: 33px;
    height: 33px;
    line-height: 33px;
    text-align: center;
		border: 1px solid;
    border-radius: 50%;
}

.slider .owl-carousel#sync2 .owl-next i:hover
{
	background-color: #99bfd4;

}
.banner img
{
	margin-bottom: 20px;
}
footer .copyright a:hover

{
	color: white;
}
footer .copyright a
{
	text-decoration: none;
}
footer
{
	background-color: #2a4385;
	background-size: cover;
	padding: 50px 0;
}
footer h3
{
	color: white;
	font-size: 21px;
  font-weight: bolder;
	padding-bottom: 25px;
}
footer ul
{
	min-height: 126px;
}
.top-footer a
{
	color: #718dd5;
	font-size: 15px;
	text-decoration: none;
	line-height: 30px;
}
.top-footer a:hover
{
	color: white;
}
.top-footer p
{
	color: #718dd5;
	font-size: 13px;
	line-height: 30px;
	padding-bottom: 10px;
}
footer input.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3b569e;
	opacity: 1
}
footer input.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #3b569e;
	opacity: 1
}
footer input.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #3b569e;
	opacity: 1
}
footer input.form-control:-moz-placeholder { /* Firefox 18- */
  color: #3b569e;
	opacity: 1
}

.top-footer input
{
	border-radius: 30px;
	height: 60px;
    box-shadow: none;
	background-color: #1e387d;
	color: #718dd5;
	border: none;
	position: relative;
	padding: 20px;

}

.top-footer i
{
	color: white;
    position: absolute;
    font-size: 20px;
    top:70%;
    left:10%;
}
.bottom-footer
{
	padding: 30px 0;
}

.copyright
{
	    margin: 40px 0px 0;
				color: #718dd5;
				font-size: 16px;
}

.bottom-footer img
{
	float: left;
	padding-top: 15px;
}
