
 body{
   order: 10;
 }

@media screen and (max-width: 767px) {
.social
{
  display: none;
}

.product
{
    margin-left: 0px;
}
.navbar-toggle {
    float: right;
    height: 54px;
    padding-top: 18px;
    padding-right: 46px;
    padding: 7px 11px;
    margin: 0;
    background: none !important;
    margin-bottom: -19px;
}
.top-header .me{
  justify-content: space-around;
}
.top-header .me .box{
  text-align: center;
}
.top-header .me .box:first-child{
	order: 1
}
	.top-header .me .box:last-child{
		order: 0
}

.top-header .call .phone{
	order: 0
}
	.top-header .call .envelope{
		order: 1
}
.call{
  justify-content: center;
}
.logo img {
  margin: auto;
  display: block;
}
.product
{
  margin-right: 0px;
}
.center-header .logo
{

  order: 0
}
.center-header .product
{
  order: 1
}
.center-header .center
{
  order:2
}
.slider .owl-carousel#sync1 .owl-next i, .slider .owl-carousel#sync1 .owl-prev i
{
  display: none;
}
.center
{
  display: flex;
}


.navbar-default
{
  padding:10px 20px;
}
.parts img
{
  margin-bottom: 27px;
}
footer
{
  text-align: center;
}
}

@media screen and (min-width:768px) {
.navbar-default .navbar-nav > li > a
{
  font-size: 8px;
}
}
@media screen and (min-width:992px){

  .navbar-default .navbar-nav > li > a
  {
    font-size: 13px;
  }
}

@media screen and (min-width:1200px){

  .navbar-default .navbar-nav > li > a
  {
    font-size: 16px;
  }

}
